### The code seems redundant, it's done intentionally for practice purpose

In [1]:
#Print only words that starts with 's' in the following sentence
st = 'Print only the words that starts with s in this Sentence'
splitted =st.split()
splitted
type(splitted)

list

In [2]:
for letters in st.split():
    if letters.startswith('s'):
        print(letters)

starts
s

In [4]:
#Simple Version
for words in st.split():
    if words[0].lower() == 's':
        print(words)

starts
s
Sentence

In [5]:
collect = []
for letter in range(0,10):
    collect.append(letter)
collect

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#range to print all even numbers from 0 to 10
new_nums = []
for numbers in range(0,11):
    if numbers % 2 == 0:
        print(numbers)
        new_nums.append(numbers) #stored all even numbers creating a list
print(new_nums)
sum = 0
for numbers in new_nums: #playing with list
    sum = sum + numbers
print("The sum of new numbers is ", sum)

0
2
4
6
8
10
[0, 2, 4, 6, 8, 10]
The sum of new numbers is  30

### List Comprhension to create a list of all numbers between 1 to 50 divisible by 3

In [53]:
reqd_list = [numbers for numbers in range(1,51) if numbers % 3 == 0 ]
reqd_list

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [7]:
#If length of word is even, print even
st = 'Print every word in this sentence that has an even numbers of letters'
individual_word= st.split()
for word in individual_word:
    if len(word) % 2 == 0:
        print(word ,'is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
of is even

In [8]:
## Form 1 to 100,print 'Fizz' for multiple of 3, 'Buzz'
#For multiple of 5 and 'FizzBuzz' for multiple of both
for numbers in range(1,101):
    if numbers % 3 == 0 and numbers % 5 == 0:
        print('FizzBuzz', 'number is ', numbers)
    elif numbers % 3 == 0:
        print('Fizz', 'number is ',numbers)
    elif numbers % 5 == 0:
        print('Buzz', 'number is ',numbers)
    else:
        pass

Fizz number is  3
Buzz number is  5
Fizz number is  6
Fizz number is  9
Buzz number is  10
Fizz number is  12
FizzBuzz number is  15
Fizz number is  18
Buzz number is  20
Fizz number is  21
Fizz number is  24
Buzz number is  25
Fizz number is  27
FizzBuzz number is  30
Fizz number is  33
Buzz number is  35
Fizz number is  36
Fizz number is  39
Buzz number is  40
Fizz number is  42
FizzBuzz number is  45
Fizz number is  48
Buzz number is  50
Fizz number is  51
Fizz number is  54
Buzz number is  55
Fizz number is  57
FizzBuzz number is  60
Fizz number is  63
Buzz number is  65
Fizz number is  66
Fizz number is  69
Buzz number is  70
Fizz number is  72
FizzBuzz number is  75
Fizz number is  78
Buzz number is  80
Fizz number is  81
Fizz number is  84
Buzz number is  85
Fizz number is  87
FizzBuzz number is  90
Fizz number is  93
Buzz number is  95
Fizz number is  96
Fizz number is  99
Buzz number is  100

In [9]:
##List comprehension to create a list of first letters
#of every word in string below
st = 'Create a list of the first letters of every word in this string'
first_word = [letters[0] for letters in st.split()]
first_word

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [11]:
#out of contest
name_list = ['Bibek','Mukesh','Aavas']
sorted(name_list)

['Aavas', 'Bibek', 'Mukesh']

In [12]:
num_list =[]
num_list = [1,2,3,45]
print(num_list)

[1, 2, 3, 45]

### if else condition using nested list

In [13]:
num_list = [num if num % 2 == 0 else 'odd'for num in range(0,11)]

In [14]:
print(num_list)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]