## Control Flow:
    ## if , elif , else

In [3]:
if True:
    print("It's True")

It's True

In [9]:
hungry = False
if hungry:
    print('Feed Me!')
else:
    print('I am not hungry')

I am not hungry

In [16]:
loc = input("Enter your location, Please")
if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print("I don't know much")

Enter your location, PleaseBank
Money is cool

 ## for loop in Python

In [29]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [37]:
number = int(input('Enter the number you want to find table '))
for num in mylist:
    print(num*number)

Enter the number you want to find table 12
12
24
36
48
60
72
84
96
108
120

In [39]:
for num in mylist:
    if num % 2 == 0:
        print(num, ' is even')
    else:
        print(num, ' is odd')

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

In [7]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print("The sum is ",list_sum )

The sum is  55

In [8]:
list_sum

55

In [25]:

for letter in 'Bibek':
    print(letter)
type(letter)

B
i
b
e
k

str

In [26]:
tup = (1,2,3,4)
for items in tup:
    print(items)

1
2
3
4

In [56]:
mylist = [(1,2),(3,4),(5,6)]
len(mylist)

3

In [57]:
mylist[0] = (7,8)

In [46]:
mylist

[(7, 8), (3, 4), (5, 6)]

In [52]:
for item in mylist:
    print(item)

(7, 8)
(3, 4)
(5, 6)

In [58]:
print('The sum of total tuple are:')
total = 0
for (a,b) in mylist:
    total =total+ a + b
    print(total)
print(total)

The sum of total tuple are:
15
22
33
33

In [1]:
mylist = [(1,2,3),(5,6,7)]

In [4]:
for (a,b,c) in mylist:
    print(a,b,c)
    print(type(a))

1 2 3
<class 'int'>
5 6 7
<class 'int'>

In [1]:
d = {'k1':1, 'k2':2, 'k3':3} #Dictionary in for loop

In [2]:
for item in d:
    print(item) #we only iterate keys by default

k1
k2
k3

In [3]:
for values in d.items(): #.items()
    print(values)

('k1', 1)
('k2', 2)
('k3', 3)

In [4]:
for keys,values in d.items():
    print(keys,values) #Tuple unpacking

k1 1
k2 2
k3 3

In [6]:
for values in d.values():
    print(values)

1
2
3

## While Loop

In [13]:
x = 0
while x < 5:
    print('The current value of x is ',x)
    x+=1
else:
    print('X is not less than 5')

The current value of x is  0
The current value of x is  1
The current value of x is  2
The current value of x is  3
The current value of x is  4
X is not less than 5

In [14]:
x = [1,2,3]

In [19]:
for item in x:
    pass  #Do nothing 
print('End of Script')

End of Script

##### break -> Breaks out of current closet enclosing loop

#### continue --> Goes to top of the closet enclosing loop

#### pass --> Does nothing at all

In [3]:
for letter in "Hello World Guys":
    
    if letter == 'e':
        continue
    elif letter == 'd':
        break
    else:
        print(letter)

H
l
l
o

W
o
r
l

In [5]:
mylist = [1,2,3]
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [6]:
list(range(0,20,5))

[0, 5, 10, 15]

In [7]:
index_count = 0
for letter in 'abcde':
    print("At index ", index_count, 'is ',letter)
    index_count +=1

At index  0 is  a
At index  1 is  b
At index  2 is  c
At index  3 is  d
At index  4 is  e

In [10]:
for letter in enumerate('Hello World'):
    print(letter)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'W')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

### Let's unpack tuple

In [15]:
for index, letter in enumerate("Hello Word"):
    print(index)
    print(letter)
    print('\n')
print(type(index))
type(letter)

0
H


1
e


2
l


3
l


4
o


5



6
W


7
o


8
r


9
d


<class 'int'>

str

In [18]:
mylist1 = [1,2,3,4] #more vaye ni it takes only match
mylist2 = ['a','b','c']

In [19]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [21]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [22]:
'x' in 'xman'

True

In [23]:
'x' in range(1,5)

False

In [24]:
'x' in [1,2,3,'x']

True

In [27]:
'mykey' in {'mykey':300}

True

In [28]:
3 in [1,2,3]

True

In [29]:
3 in {'key':3}##What??

False

In [32]:
d = {'mykey': 2}
print2 in d.values()
print(2 in d.keys())

False

## List Comprehension

In [1]:
mystring = 'hello'

In [3]:
mylist =[]

for letter in mystring:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist1 = [x for x in 'word']
mylist1

['w', 'o', 'r', 'd']

In [9]:
mylist2 = [num for num in range(0,11)]
mylist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
mylist3 = [sqnum**2 for sqnum in range(0,11)]
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
mylist4 = [x for x in range(0,11) if x % 2 == 0]#condn
mylist4

[0, 2, 4, 6, 8, 10]

In [17]:
celcius = [0, 10, 20, 34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [18]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [20]:
results = ['Even' if x%2==0 else 'ODD' for x in range(0,11)]
results

['Even',
 'ODD',
 'Even',
 'ODD',
 'Even',
 'ODD',
 'Even',
 'ODD',
 'Even',
 'ODD',
 'Even']

In [21]:
mylist5 = []
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist5.append(x*y)
mylist5

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [22]:
mylist6 = [x*y for x in [2,4] for y in [1,2]]
mylist6

[2, 4, 4, 8]